* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  padding-top: calc((var(--grid-base) * 4) + var(--font-size-big) + (var(--font-size-big) / 4));
  color: var(--light-fg-color);
  font-size: 16px;
  line-height: 1.25;
}

:root {
  --dark-color: #0e1d26;
  --dark-bg-color: var(--dark-color);
  --main-bg-color: #272836;
  --lighter-bg-color: #37394b;
  --card-bg-color: #585b6f;
  --light-fg-color: #d0d0d0;
  --grid-base: 8px;
  --font-size-big: 1.5rem;
}

$white: #ffffff;

$gridBase: 8px;

$fontBig: 1.5em;

@import 'scss/animation';
@import 'scss/header';
@import 'scss/nav';
@import 'scss/main';
@import 'scss/thermostat';