.header--group {
  .action-icon {

    label {
      position: relative;

      [type="checkbox"] {
        display: none;
      }
      .add-input {
        display: none;
        position: absolute;
        right: calc(-1 * var(--grid-base));
        background: cyan;
        top: calc(-1 * (var(--grid-base) / 2));
        bottom: calc(-1 * (var(--grid-base) / 2));
        padding: 0 var(--grid-base);
        border-radius: var(--border-radius);
        background: var(--light-bg-color);
      }

      [type="checkbox"]:checked ~ .add-input {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        input {
          margin-right: var(--grid-base);
          background: var(--light-bg-color);
          border: 1px solid var(--dark-bg-color);
          border-radius: var(--buttons-border-radius);
          padding: calc(var(--grid-base) / 2)
        }
      }
    }
  }
}

.group--name {
}

.device-manager {
  flex-basis: 100%;
}

.group--devices {
  padding-top: var(--grid-base);
  padding-left: var(--grid-base);
  list-style-type: none;

  .group--devices-header {
    margin-left: calc(-1 * var(--grid-base));
    margin-bottom: calc(var(--grid-base) / 2);
    display: flex;
    justify-content: space-between;
  }

  .group--device {
    display: flex;
    justify-content: space-between;
  }
}
