nav {
    width: 1em;
    label {
        position: relative;
        display: block;
        width: 100%;
        [data-icon] {
            position: absolute;
            transition: opacity 150ms ease-out;
            opacity: 1;
            top: 0;
            left: 0;
        }
        input[type="checkbox"],
        [data-icon="mdi-close"] {
            opacity: 0;
        }
    }

    .click-trap {
        left: -100vw;
        top: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        transition: left 150ms ease-out;

        .nav-list {
            position: absolute;
            padding: var(--grid-base) 0;
            display: block;
            top: calc((var(--grid-base) * 4) + var(--font-size-big) + (var(--font-size-big) / 4));
            width: 100vw;
            max-width: 280px;
            height: calc(100vh - (var(--grid-base) * 2) - var(--font-size-big));
            background: var(--lighter-bg-color);

            & > span {
                display: block;

                &.active {
                    background: var(--main-bg-color);
                }

                a, span {
                    display: inherit;
                    color: var(--light-fg-color);
                    text-decoration: none;
                    padding: calc(var(--grid-base) / 2) calc(var(--grid-base) * 2);

                    &:hover {
                        background: var(--light-bg-color);
                    }
                }
            }
        }
    }
    label input[type="checkbox"]:checked {
        & ~ [data-icon="mdi-menu"] {
            opacity: 0;
        }
        & ~ [data-icon="mdi-close"] {
            opacity: 1;
        }
        & ~ .click-trap {
            left: 0;
        }
    }
}
