.thermostat-settings {
  width: calc(100vw - (2 * var(--grid-base)));
  margin-right: calc(-1 * var(--grid-base));
  div.setting {
    background: var(--lighter-bg-color);
    margin: var(--grid-base);
    padding: var(--grid-base);
    border-radius: 4px;

    label span {

    }

    .field {
      display: flex;
      justify-content: space-between;

      div {
        flex: 0 1 100%;
        margin-right: var(--grid-base);
        input {
          width: 100%;
        }
      }
      span {
        flex: 0 0 9.5ch;
        text-align: right;
        font-family: monospace;
        &:before {
          content: attr(data-int);
          margin-right: .5ch;
          width: 3ch;
        }
        &:after {
          content: attr(data-hex);
          display: inline-block;
          width: 6ch;
        }
      }
    }
    .description {
      font-size: .8em;
    }
  }
}