.thermostats {
  display: flex;
  margin-right: calc(-1 * var(--grid-base));
  flex-wrap: wrap;
}

.thermostat-card {
  $card: &;
  background-color: var(--card-bg-color);
  padding: var(--grid-base);
  margin-bottom: var(--grid-base);
  border-radius: 4px;
  flex: 1 0 calc(360px - (2 * var(--grid-base)));
  margin-right: var(--grid-base);
  position: relative;

  #{ $card }--item {
    display: flex;
    justify-content: flex-end;

    & > *:first-child {
      margin-right: auto;
    }

    .value-display {
      text-align: right;
      flex-basis: 70px;
    }
  }

  &[data-synced="false"] {
    .value-display span.synced {
      display:none;
    }
    .value-display span.not-synced {
      display: initial;
    }
  }

  &[data-synced="true"] {
    .value-display span.synced {
      display:initial;
    }
    .value-display span.not-synced {
      display: none;
    }
  }

  &[data-mode="auto"] {
    .value-display span.mode-manu,
    .value-display span.mode-- {
      display: none;
    }
    .value-display span.mode-auto {
      display:initial;
    }
  }

  &[data-mode="manu"] {
    .value-display span.mode-auto,
    .value-display span.mode-- {
      display: none;
    }
    .value-display span.mode-manu {
      display:initial;
    }
  }

  &[data-mode="-"] {
    .value-display span.mode--,
    .value-display span.mode-manu {
      display: none;
    }
    .value-display span.mode-auto {
      display:initial;
    }
  }

  span.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  &[data-synced="false"] {
    span.loading {
      display: flex;
      background: hsla(0, 0%, 100%, .5);
      svg {
        path {
          fill: var(--dark-color);
        }
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}