.thermostat--card {

  & [class*="-button"] {
    cursor: pointer;
  }

  &[data-available="warn"] {
    h3 > svg:first-of-type.iconify path {
      fill: var(--color-warn);
    }
  }

  &[data-available="offline"] {
    h3 > svg:first-of-type.iconify path {
      fill: var(--color-alert);
    }
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: var(--grid-base);

    & > * {
      margin-right: var(--grid-base);
    }

    // Time
    [data-item="time"] {
      margin-left: auto;
      margin-right: 0;
      font-size: .6em;
      font-weight: normal;
      text-align: right;
    }
  }

  .data {
    display: flex;
    justify-content: space-between;

    .thermostat--card--item {
      flex-direction: column;
      align-items: center;
      .value-display {
        flex-basis: auto;
      }
    }
  }

  &--item {
    display: flex;
    justify-content: flex-end;

    & > label, & > .label {
      font-size: .8em;
    }

    .value-display {
      text-align: right;
      flex-basis: 70px;
    }

    &[data-item="mode"] {
      justify-content: flex-start;
      .label {
        display: none;
      }
      .value-display {
        text-align: initial;
        flex-basis: auto;
      }
    }

    &[data-item="wanted"] {

      flex-direction: column;
      align-items: center;

      label {
        display: none;
      }

      span.wanted-control {
        position: relative;
        width: 60%;
        max-width: 350px;
        order: 2;

        input {
          width: 100%;
        }
      }
      .value-display {
        order: 1;
        flex-basis: auto;
        margin: 0;
        font-size: 2em;

        &[data-is-current] {
          font-weight: bold;
        }
      }
    }


    // Presets
    &[data-item="presets"] {
      justify-content: flex-start;
      .label {
        display: none;
      }
      .value-display {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        span {
          margin: calc(var(--grid-base) / 2);
          padding: var(--grid-base);
          background: var(--light-bg-color);
          border-radius: var(--border-radius);
          line-height: 1;
        }
      }
    }

    // Synced
    &[data-item="synced"] {
      display: none;
    }

    // Actions
    &[data-item="actions"] {
      display: none;
      justify-content: flex-start;

      a {
        margin-right: var(--grid-base);
        color: var(--light-fg-color);
        text-decoration: none;
      }
    }
  }

  &[data-preset="antifreeze"] [data-preset="antifreeze"],
  &[data-preset="eco"] [data-preset="eco"],
  &[data-preset="comfort"] [data-preset="comfort"],
  &[data-preset="supercomfort"] [data-preset="supercomfort"] {
    font-weight: bold;
  }

  // Actions
  &[data-available="online"][data-synced="true"] [data-item="actions"] {
    display: initial;
  }
  &[data-synced="false"] {
    .value-display span.synced {
      display:none;
    }
    .value-display span.not-synced {
      display: initial;
    }
  }

  &[data-synced="true"] {
    .value-display span.synced {
      display:initial;
    }
    .value-display span.not-synced {
      display: none;
    }
  }

  // Mode
  &[data-mode="auto"],
  &[data-mode="-"] {
    .value-display span.mode-manu,
    .value-display span.mode-- {
      opacity: var(--opacity-disabled);
    }
    .value-display span.mode-auto {
      opacity: var(--opacity-enabled);
    }
  }

  &[data-mode="manu"] {
    .value-display span.mode-auto,
    .value-display span.mode-- {
      opacity: var(--opacity-disabled);
    }
    .value-display span.mode-manu {
      opacity: var(--opacity-enabled);
    }
  }
  .value-display span.mode-- {
    display: none;
  }

  // Loading
  span.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 4em;

    &:after {
      content: attr(data-pending-commands);
      color: var(--dark-color);
      font-size: .25em;
      margin: var(--grid-base);
      padding: var(--grid-base);
      border-radius: var(--border-radius);
      position: absolute;
      right: 0;
      bottom: 0;
      background: hsla(0, 0%, 100%, .5);
      line-height: 1;
    }

    .cancel {
      position: absolute;
      top: calc(var(--grid-base) * 2);
      right: calc(var(--grid-base) * 2);
      font-size: 1rem;
      background: hsla(0, 0%, 100%, .5);
      border-radius: var(--border-radius);
      line-height: 1rem;
      svg[data-icon="mdi-close"] {
        display: block;
        path {
          fill: var(--dark-color);
        }
      }
    }
  }
  &[data-synced="false"] {
    span.loading {
      display: flex;
      background: hsla(0, 0%, 100%, .5);

      svg[data-icon="mdi-loading"] {
        path {
          fill: var(--dark-color);
        }
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  // Error
  &[data-error="0"] {
    [data-item="error"] {
      display: none;
    }
  }
  [data-item="error"] {
    justify-content: space-between;
    & > span {
      margin-right: 0;
      flex-basis: auto;
    }
    .error-icon {
      color: var(--color-alert);
      &:before {
        content: attr(data-descr);
      }
    }
  }

  $errors: 4, 8, 16, 64, 128, 256;
  [data-item="error"] [data-error] {
    display: none
  }
  @each $error in $errors {
    &[data-error*="#{$error}|"] [data-item="error"] .error-icon[data-error="#{$error}"] {
      display: inline-block
    }
  }
}