.thermostats {
  display: flex;
  margin-right: calc(-1 * var(--grid-base));
  flex-wrap: wrap;
}

.thermostat-card {
  $card: &;
  background-color: var(--card-bg-color);
  padding: var(--grid-base);
  margin-bottom: var(--grid-base);
  border-radius: var(--border-radius);
  flex: 1 0 calc(360px - (2 * var(--grid-base)));
  margin-right: var(--grid-base);
  position: relative;
  overflow: hidden;

  & [class*="-button"] {
    cursor: pointer;
  }

  &[data-available="warn"] {
    h3 > svg:first-of-type.iconify path {
      fill: var(--color-warn);
    }
  }

  &[data-available="offline"] {
    h3 > svg:first-of-type.iconify path {
      fill: var(--color-offline);
    }
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: normal;

    & > * {
      margin-right: var(--grid-base);
    }

    [data-item="time"] {
      margin-left: auto;
      margin-right: 0;
      font-size: .6em;
      font-weight: normal;
      text-align: right;
    }
  }

  #{ $card }--item {
    display: flex;
    justify-content: flex-end;

    & > *:first-child {
      margin-right: auto;
    }

    .value-display {
      text-align: right;
      flex-basis: 70px;
    }

    &[data-item="wanted"] input {

    }

    &[data-item="time"] .value-display {
      flex-basis: auto;
    }

    &[data-item="synced"] {
      display: none;
    }

    &[data-item="actions"] {
      display: none;
      justify-content: flex-start;

      a {
        margin-right: var(--grid-base);
        color: var(--light-fg-color);
        text-decoration: none;
      }
    }
  }

  &[data-available="online"][data-synced="true"] [data-item="actions"] {
    display: initial;
  }

  &[data-synced="false"] {
    .value-display span.synced {
      display:none;
    }
    .value-display span.not-synced {
      display: initial;
    }
  }

  &[data-synced="true"] {
    .value-display span.synced {
      display:initial;
    }
    .value-display span.not-synced {
      display: none;
    }
  }

  &[data-mode="auto"],
  &[data-mode="-"] {
    .value-display span.mode-manu,
    .value-display span.mode-- {
      opacity: var(--opacity-enabled);
    }
    .value-display span.mode-auto {
      opacity: var(--opacity-disabled);
    }
  }

  &[data-mode="manu"] {
    .value-display span.mode-auto,
    .value-display span.mode-- {
      opacity: var(--opacity-disabled);
    }
    .value-display span.mode-manu {
      opacity: var(--opacity-enabled);
    }
  }
  .value-display span.mode-- {
    display: none;
  }

  span.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  &[data-synced="false"] {
    span.loading {
      display: flex;
      background: hsla(0, 0%, 100%, .5);
      svg {
        path {
          fill: var(--dark-color);
        }
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}