.thermostat-timers {
  width: calc(100vw - (2 * var(--grid-base)));
  margin-right: calc(-1 * var(--grid-base));

  .presets--card div,
  .timer-mode--card label {
    display: flex;
    justify-content: space-between;
  }

  .timer-slot {
    display: flex;
    justify-content: space-between;
    padding: var(--grid-base) 0;
    border-bottom: 1px solid var(--light-bg-color);

    &--preset {
      display: flex;
      align-items: center;

      output {
        margin-left: var(--grid-base);
        font-family: monospace;
        text-align: right;
        width: 5ch;
      }
    }

    &:last-of-type {
      border: unset;
    }
  }

  datalist {
    //display: inline-flex;
  }

  &[data-mode="0"]  [data-type="week_timers"],
  &[data-mode="1"]  [data-type="daily_timers"] {
    display: none;
  }
}